<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
     <listener class-name="JavaUsingTestNG.Listeners">

     </listener>
    </listeners>
    <test name="Personal Loan">
<!--                <groups>-->
<!--                    <run>-->
<!--                        <include name="regression"/>-->
<!--                    </run>-->
<!--                </groups>-->

        <classes>
            <class name="JavaUsingTestNG.Test1">
            </class>
            <class name="JavaUsingTestNG.Test2">
                <methods>
                    <exclude name="B"></exclude>
                </methods>
            </class>
        </classes>

    </test>
    <test name="Car Loan">
        <classes>
            <class name="Selenium.Assignment1">

            </class>
        </classes>
    </test>
</suite>